
body {
    font-family: 'Helvetica Neue', arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    background-color: #c3ffd7;
    color: var(--text-dark);
}

a {
    color: var(--text-dark);
}

/* Colors variables */
:root {
    /* Base colors */
    --text-dark: #000000;
    --text-light: #ffffff;
    --primary: #1fa9d7;
    --primary-btn-bg: #000000;

    /* Tiles colors */
    --tile-2-bg: #84ffa3;
    --tile-4-bg: #00ff41;
    --tile-8-bg: #ffb06a;
    --tile-16-bg: #f59563;
    --tile-32-bg: #f67c5f;
    --tile-64-bg: #f65e3b;
    --tile-128-bg: #edcf72;
    --tile-256-bg: #edcc61;
    --tile-512-bg: #edc850;
    --tile-1024-bg: #edc53f;
    --tile-2048-bg: #edc22e;
    --tile-4096-bg: #6cb3d1;
    --tile-8192-bg: #5aa0db;
    --tile-16384-bg: #297cb8;
    --tile-32768-bg: #5ebb83;
    --tile-65536-bg: #3ca967;
    --tile-131072-bg: #1f904c;
}

